# Logs
logs
*.log
npm-debug.log*
yarn-error.log

# Runtime data
pids
*.pid
*.seed

# Build e cache locais
.next
out
dist
.cache
.vscode
.idea

# Diretórios de dependências
node_modules
jspm_packages

# Arquivos temporários/sensíveis
*.swp
*.swo

# Cobertura e testes
coverage
.nyc_output

# Build nativa
build/
build/Release

# Arquivos do sistema
.DS_Store
Thumbs.db

# Histórico
.node_repl_history
